/**************************************
		global
**************************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--font-family-header: "Montserrat", sans-serif;
	--font-family-body: "Open Sans", sans-serif;
	--color-offwhite: #f7f7f7;
	--color-pleasant-blue: #4a6ac1;
}

html {
	font-size: 16px;
	background-color: var(--color-offwhite);
}

body {
	font-family: var(--font-family-body);
}

/**************************************
		layout (boxes)
**************************************/

section {
	width: 100%;
	padding: 3rem;
}

section.header-contact {
	padding-top: 1rem;
}

section#haven {
	padding-top: 1.5rem;
}

.flexbox-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vert {
	flex-direction: column;
}

.other-projects-flex-dir {
	flex-direction: row;
}

ul.logo-links {
	display: flex;
	justify-content: space-between;
	width: 11rem;
	padding: 5px;
}

.footer-contact ul.logo-links {
	padding-top: 2rem;
}

li.other-project {
	width: 25%;
	margin: 0 2%;
}

/**************************************
		text
**************************************/

#profile > p,
#haven > p {
	max-width: 35rem;
}

#profile > p,
#haven > p,
.other-project > h4,
.other-project > p {
	text-align: center;
}

h2,
h4 {
	font-family: var(--font-family-header);
}

h2 {
	font-size: 2.2rem;
	margin: 1.5rem 0;
}

h3 {
	font-size: 1.7rem;
	margin: 1.25rem 0;
}

h4 {
	font-size: 1.3rem;
	margin: 1rem 0;
}

/**************************************
		visuals (images, colors)
**************************************/

section#haven {
	background-color: white;
}

a {
	text-decoration: none;
	color: var(--color-pleasant-blue);
}

a.btn {
	width: 30rem;
	margin: 2rem auto;
	padding: 0.5rem 2rem;
	border: 1px solid lightgray;
	border-radius: 4px;
	cursor: pointer;
	background-color: transparent;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.btn:hover {
	width: 31rem;
	padding: 0.6rem 2rem;
	font-size: 1.35rem;
	color: var(--color-pleasant-blue);
	background-color: rgba(144, 144, 144, 0.1);
}

#avatar {
	width: 15rem;
	border-radius: 50%;
}

#haven-logo {
	max-width: 50rem;
}

.other-project > img {
	max-width: 100%;
}

.icon {
	color: black;
}

.icon:before {
	font-size: 2.5rem;
}

.haven-link:before {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	font-size: 0.75rem;
	color: var(--color-pleasant-blue);
}

.icon:hover {
	color: var(--color-pleasant-blue);
}

/**************************************
		media queries
**************************************/

@media (min-width: 769px) {
	.header-contact ul.logo-links {
		float: right;
	}
}

@media (max-width: 768px) {
	img,
	p {
		max-width: 25rem !important;
	}

	a {
		/* has 2rem left/right margin */
		max-width: 21rem !important;
	}

	.header-contact ul.logo-links {
		margin: 0 auto;
	}

	ul.logo-links {
		width: 9rem;
	}

	.other-projects-flex-dir {
		flex-direction: column;
	}

	li.other-project {
		width: 100%;
		margin: 1.75rem auto;
	}

	.other-project img {
		display: block;
		margin: 0 auto;
	}
}

@media (max-width: 600px) {
	img,
	p {
		max-width: 22rem !important;
	}

	a {
		max-width: 18rem !important;
	}
}

@media (max-width: 480px) {
	img,
	p {
		max-width: 20rem !important;
	}

	a {
		max-width: 16rem !important;
	}
}

@media (max-width: 360px) {
	a {
		max-width: 12rem !important;
	}
}
